<div id="cart"
  <div class="header-cart">
    <div class="header-cart__count"><span><?php echo $text_items; ?></span></div>
    <a href="index.php?route=checkout/checkout" class="header-cart__title">Корзина</a>
    <span class="header-cart__total">
      <p>Сумма:&nbsp;<span class="header-cart__price"><?php echo $text_items2; ?></span>&nbsp;<span class="header-cart__cur">руб.</span></p>
    </span>
    <a href="index.php?route=checkout/checkout" class="header-cart__order">Оформить заказ</a>
  </div>
</div>
