@charset "UTF-8";
/*-------Base styles----------*/
.input_style_contact{
  width: 50% !important;
  height: 50px !important;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px!important;
  font-weight: 800!important;
  color: #a3a19f!important;
  border: 1px solid #ccc8c3
}
.input_style_contact2{
  width: 50% !important;
  height: 200px !important;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px!important;
  font-weight: 800!important;
  color: #a3a19f!important;
  border: 1px solid #ccc8c3
}
.icon-save{
  float: right;
  margin-right: 25px;
  font-size: 0;
  background-image: url(/image/catalog/tick.png);
  width: 26px;
  height: 26px;
}
.input_style{
  border: 0 !important;
}
*::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
  opacity: 1;
}

*:-moz-placeholder {
  color: #fff;
  font-weight: 300;
  opacity: 1;
}

*::-moz-placeholder {
  color: #fff;
  font-weight: 300;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
  opacity: 1;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

body {
  font-family: "ubuntu", sans-serif;
  color: #3e647a;
  font-weight: normal;
  font-size: 16px;
  min-width: 640px;
  position: relative;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body.overflow {
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: #3e647a;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

/*----------end---------------*/
/*----------------Header------------------------*/
.header {
  position: relative;
  padding-top: 50px;
  background: url(../img/header-bg.jpg) center top no-repeat;
  background-size: cover;
}

.header-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 46px;
  z-index: 999;
  background: #1d2628;
}

.nav-btn {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-btn:hover span {
  color: #4ca9cc;
}

.nav-btn__wrap {
  display: inline-block;
  width: 25px;
  margin-right: 6px;
  vertical-align: middle;
}

.nav-btn b {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: #fff;
}

.nav-btn b:last-child {
  margin-bottom: 0;
}

.nav-btn span {
  display: inline-block;
  vertical-align: middle;
}

.main-menu {
  display: none;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  padding: 18px 0 100px;
  z-index: 998;
  overflow-y: auto;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  background: rgba(29, 38, 40, 0.9);
}

.main-menu .container {
  padding: 0;
}

.main-list .column {
  float: left;
  width: 24%;
  margin-right: 10px;
}

.main-list .column:last-of-type {
  margin-right: 0;
}

.main-list__item {
  position: relative;
  display: block;
  margin-right: -30px;
}

.main-list__item:not(.main-list__item--title):before {
  content: ' ';
  position: absolute;
  top: 11px;
  left: 20px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
}

.main-list__item a {
  display: block;
  padding: 4px 30px 7px 30px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.main-list__item a:hover {
  color: #1d2628;
  background: #fff;
}

.main-list__item--title {
  margin: 0 0 14px 20px;
  padding: 9px 0 5px;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 1px solid #fff;
}

.main-list__item--title a {
  padding: 0;
}

.main-list__item--title a:hover {
  color: #fff;
  background: none;
}

.main-list__item--drop:before {
  display: none;
}

.main-list__item--drop a {
  padding-left: 50px;
  color: #a9b2b4;
}

.nav-menu {
  display: inline-block;
  vertical-align: middle;
}

.nav-menu__item {
  display: inline-block;
  margin-right: 11px;
}

.nav-menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
}

.nav-menu__link:hover {
  color: #4ca9cc;
}

.contact {
  position: relative;
}

.contact--header {
  float: right;
}

.personal {
  display: inline-block;
  vertical-align: middle;
}

.personal__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-style: italic;
  line-height: 1.2;
  border-bottom: 1px dashed #fff;
}

.personal__link:hover {
  border-bottom: 1px solid transparent;
}

.personal__link:not(:last-child):after {
  content: ' ';
  position: absolute;
  height: 25px;
  top: 0;
  right: -16px;
  border-right: 1px solid #8f9394;
}

.personal__link--login:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/sprite.png);
  background-position: -142px -166px;
  width: 24px;
  height: 24px;
}

.personal__link--signin {
  margin-left: 52px;
}
.logout{
  content: ' ';
  position: absolute;
  top: 13px;
  left: -65px;
  background-image: url(/image/logout-xxl.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
}
.personal__link--signin:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/sprite.png);
  background-position: -238px -52px;
  width: 20px;
  height: 26px;
}

.personal__link--signin:after {
  display: none;
}

.personal__link--cart {
  display: none;
  margin-left: 40px;
}

.personal__link--cart:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/sprite.png);
  background-position: -82px -140px;
  width: 26px;
  height: 26px;
}

.personal__link--cart .count-wrap {
  position: absolute;
  top: 1px;
  left: -16px;
  width: 13px;
  height: 13px;
  font-size: 9px;
  font-weight: 500;
  color: #1d2628;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #4ca9cc;
}

.personal__link--cart .count-wrap span {
  position: absolute;
  display: block;
  top: 6px;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.personal-fixed {
  margin-right: 165px;
}

.personal-fixed .personal__link {
  top: -17px;
  border-bottom: none;
}

.personal-fixed .personal__link span {
  display: none;
}

.personal-fixed .personal__link:after {
  top: 4px;
  right: -10px;
  height: 19px;
  border-right: 1px dotted #3e647a;
}

.personal-fixed .personal__link--signin {
  margin-left: 50px;
}

.personal-fixed .personal__link--signin:after {
  display: block;
  right: -4px;
}

.personal-fixed .personal__link--cart {
  display: inline-block;
}

.personal-fixed .personal__link--cart span {
  display: block;
}

.phone {
  position: relative;
  display: block;
  font-size: 30px;
  color: #fff;
}

.phone:before {
  display: none;
  content: ' ';
  position: absolute;
  top: 14px;
  left: -45px;
  background-image: url(../img/sprite.png);
  background-position: -58px -76px;
  width: 24px;
  height: 26px;
}

.phone span {
  font-size: 18px;
}

.phone--header {
  display: inline-block;
  margin-left: 34px;
  vertical-align: middle;
}

.phone--fixed:before {
  display: block;
}

.header-main {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  position: relative;
  float: left;
  width: 280px;
  margin: -7px 41px 0 -52px;
  text-align: center;
}

.logo--mob {
  display: none;
}

.logo__pict {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
}

.logo__title {
  display: inline-block;
  margin-top: 80px;
  font-size: 33px;
  font-weight: 800;
  color: #fff;
  letter-spacing: -0.8px;
  text-align: right;
  text-transform: uppercase;
}

.logo__accent {
  position: relative;
  display: block;
  top: -7px;
  opacity: .5;
  font: 14px "ptsans";
  letter-spacing: 0.2px;
  text-transform: none;
}

.search {
  position: relative;
  display: inline-block;
  width: 360px;
  margin-top: 20px;
  vertical-align: middle;
}

.search:after {
  content: ' ';
  position: absolute;
  top: 6px;
  right: 13px;
  background-image: url(../img/sprite.png);
  background-position: -238px -26px;
  width: 22px;
  height: 26px;
}

.search-in {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 35px 0 20px;
  color: #fff;
  outline: none;
  border: 1px solid #3e647a;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: transparent;
}

.search-in::-webkit-input-placeholder {
  color: #3e647a;
  font-weight: normal;
}

.search-in:-moz-placeholder {
  color: #3e647a;
  font-weight: normal;
}

.search-in::-moz-placeholder {
  color: #3e647a;
  font-weight: normal;
}

.search-in:-ms-input-placeholder {
  color: #3e647a;
  font-weight: normal;
}

.order-present {
  position: relative;
  display: inline-block;
  width: 90px;
  top: 11px;
  margin-left: 67px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: #fff;
  text-shadow: 0.5px 0.9px 0 rgba(62, 100, 122, 0.5);
}

.order-present:hover span {
  color: #3e647a;
}

.order-present span {
  display: block;
  font-size: 14px;
  line-height: 12px;
}

.order-present:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: -40px;
  background-image: url(../img/sprite.png);
  background-position: -62px -166px;
  width: 28px;
  height: 28px;
}

.callback {
  position: relative;
  display: inline-block;
  width: 125px;
  top: 11px;
  margin-left: 64px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  color: #3e647a;
  letter-spacing: -0.7px;
}

.callback:hover span {
  color: #fff;
}

.callback span {
  display: block;
  font-size: 14px;
  font-weight: 800;
}

.callback:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: -30px;
  background-image: url(../img/sprite.png);
  background-position: -58px -102px;
  width: 24px;
  height: 26px;
}

.header-cart {
  float: right;
  position: relative;
  top: 12px;
}

.header-cart__count {
  position: absolute;
  top: 11px;
  left: -32px;
  z-index: 1;
}

.header-cart__count span {
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 22px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.14);
  z-index: 3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(125deg, #1c5778 0%, #1199d5 100%);
  background-image: linear-gradient(-35deg, #1c5778 0%, #1199d5 100%);
}

.header-cart__count:before {
  content: ' ';
  position: absolute;
  top: 4px;
  left: -18px;
  z-index: -1;
  background-image: url(../img/sprite.png);
  background-position: -32px -166px;
  width: 30px;
  height: 30px;
}

.header-cart__title {
  position: relative;
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.header-cart__title:after {
  content: ' ';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 150px;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(transparent));
  background-image: -webkit-linear-gradient(left, white 0%, transparent 100%);
  background-image: linear-gradient(to right, white 0%, transparent 100%);
}

.header-cart__total {
  font-size: 14px;
  color: #fff;
}

.header-cart__price {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
}

.header-cart__cur {
  font-size: 16px;
}

.header-cart__order {
  position: relative;
  display: inline-block;
  top: -4px;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #3e647a;
}

.header-cart__order:hover {
  border-bottom-color: transparent;
}

.header-cart__order:after {
  content: ' ';
  position: absolute;
  top: 3px;
  right: -15px;
  background-image: url(../img/sprite.png);
  background-position: -128px -90px;
  width: 10px;
  height: 10px;
}

.slider-wrap {
  position: relative;
  margin-top: 70px;
}

.header-slider .slider-item {
  position: relative;
  outline: none;
  height: 377px;
}

.slider-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-nav .slick-arrow {
  position: absolute;
  top: 31%;
  font-size: 0;
  cursor: pointer;
  opacity: .7;
  z-index: 10;
  outline: none;
  border: none;
  background: none;
}

.slider-nav .slick-arrow:hover {
  opacity: 1;
}

.slider-nav .slick-arrow.slick-prev {
  left: 20px;
  background-image: url(../img/sprite.png);
  background-position: -140px -40px;
  width: 26px;
  height: 85px;
}

.slider-nav .slick-arrow.slick-next {
  left: auto;
  right: 20px;
  background-image: url(../img/sprite.png);
  background-position: -166px -40px;
  width: 25px;
  height: 84px;
}

.slider-caption {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
}

.slider-text {
  display: inline-block;
  margin: 105px 0 0 175px;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  line-height: 48px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

.slider-text__top {
  display: block;
  margin-right: 17px;
  font-size: 36px;
  color: #365a6f;
  line-height: 36px;
  text-transform: none;
}

.slider-text__bottom {
  display: block;
  margin-right: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: right;
  text-transform: none;
}

.btn {
  position: relative;
  display: block;
  width: 225px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0.5px 0.9px 3px rgba(0, 0, 0, 0.5);
  background: url(../img/btn-bg.png) center top no-repeat;
  background-size: cover;
}

.btn--slider {
  margin: 24px 0 0 35%;
}

.subscribe {
  position: absolute;
  bottom: -59px;
  left: 0;
  right: 0;
  width: 667px;
  max-width: 100%;
  height: 84px;
  margin: 0 auto;
  padding: 24px 0;
  text-align: center;
  background: url(../img/subscribe-bg.png) center top no-repeat;
}

.subscribe__title {
  display: inline-block;
  width: 22%;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  text-align: left;
}

.subscribe-in {
  display: inline-block;
  position: relative;
  width: 369px;
  vertical-align: middle;
}

.subscribe-in input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  outline: none;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.subscribe-in input::-webkit-input-placeholder {
  color: #99a3aa;
  font-weight: normal;
}

.subscribe-in input:-moz-placeholder {
  color: #99a3aa;
  font-weight: normal;
}

.subscribe-in input::-moz-placeholder {
  color: #99a3aa;
  font-weight: normal;
}

.subscribe-in input:-ms-input-placeholder {
  color: #99a3aa;
  font-weight: normal;
}

.subscribe-btn {
  position: absolute;
  top: 0;
  right: -1px;
  width: 70px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #4ca9cc;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.subscribe-btn i {
  position: absolute;
  top: -4px;
  right: -3px;
  left: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../img/sprite.png);
  background-position: -194px -166px;
  width: 24px;
  height: 20px;
}

.subscribe-btn:hover {
  background: #3e647a;
}

/*--------------end header------------------*/
.wrapper {
  background: url(../img/main-bg.jpg) center top no-repeat;
  background-size: auto 1059px;
}

.catalog {
  padding: 106px 0 47px;
}

.catalog__title {
  margin-bottom: 73px;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.catalog-carousel {
  text-align: center;
}

.catalog-banner {
  display: inline-block;
  width: 24%;
  vertical-align: bottom;
  outline: none;
  text-align: center;
}

.catalog-banner:hover img {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.catalog-banner__pict {
  display: block;
  outline: none;
}

.catalog-banner__pict img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.catalog-banner__title {
  display: block;
  position: relative;
  top: -19px;
  padding: 0 40px;
  font-size: 18px;
  color: #1b6893;
  z-index: 5;
}

.catalog-banner__title:hover {
  font-weight: 800;
}

.brend {
  padding: 20px 0 53px;
}

.brend-carousel {
  position: relative;
}

.brend-carousel .slick-arrow {
  position: absolute;
  top: -42px;
  right: 0;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.brend-carousel .slick-arrow.slick-prev {
  right: 50px;
  background-image: url(../img/sprite.png);
  background-position: -248px -211px;
  width: 10px;
  height: 15px;
}

.brend-carousel .slick-arrow.slick-prev:after {
  content: ' ';
  position: absolute;
  top: -5px;
  right: -20px;
  width: 1px;
  height: 25px;
  background: #d0d5d8;
}

.brend-carousel .slick-arrow.slick-next {
  background-image: url(../img/sprite.png);
  background-position: -238px -211px;
  width: 10px;
  height: 15px;
}

.brend__title {
  margin-bottom: 15px;
  padding: 0 0 10px 25px;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  border-bottom: 1px solid #dbe7ec;
}

.brend__title span {
  display: none;
}

.brend-item__logo {
  position: relative;
  display: block;
  height: 75px;
}

.brend-item__logo img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block {
  padding: 9px 0;
}

.block__title {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}

.block-item {
  position: relative;
  float: left;
  width: 290px;
  height: 290px;
  margin-right: 10px;
  padding: 0 20px;
  overflow: hidden;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid #eaeaea;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.block-item:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.block-item__pict {
  position: relative;
  display: block;
  height: 228px;
  overflow: hidden;
}

.block-item__pict img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block-item__title {
  display: block;
  margin: -5px 0 2px;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -1px;
}

.block-item__title:hover {
  text-decoration: underline;
}

.block-item__price {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
}

.block-item__cart {
  position: relative;
  float: right;
  top: -2px;
  font-size: 0;
  background-image: url(../img/sprite.png);
  background-position: -238px -103px;
  width: 19px;
  height: 20px;
  cursor: pointer;
}

.trust {
  padding: 50px 0 25px;
  text-align: center;
}

.trust__title {
  position: relative;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 300;
}

.trust__title:after {
  content: ' ';
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 21px;
  background: url(../img/av-bg.png) center top no-repeat;
}

.trust-item {
  display: inline-block;
  margin: 0 26px;
  vertical-align: middle;
}

.news {
  padding: 19px 0 27px;
}

.news__title {
  position: relative;
  margin-bottom: 42px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.news__title:after {
  content: ' ';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3e647a), to(white));
  background-image: -webkit-linear-gradient(left, #3e647a 0%, white 100%);
  background-image: linear-gradient(to right, #3e647a 0%, white 100%);
}

.news-item {
  position: relative;
  float: left;
  width: 290px;
  height: 320px;
  margin-right: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.news-item:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.news-item__pict {
  height: 160px;
  overflow: hidden;
}

.news-item__pict img {
  display: block;
  width: 100%;
}

.news-item__date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-left: 23px;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.news-item__date span {
  font-size: 24px;
}

.news-item__title {
  display: block;
  margin: 6px 0 5px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 800;
  color: #234153;
}

.news-item__title:hover {
  color: #1b6893;
}

.news-item__descr {
  padding: 0 15px;
  height: 65px;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1px;
}

.btn--read {
  position: absolute;
  bottom: 0;
  right: -7px;
  width: 135px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transform: skew(-40deg);
      -ms-transform: skew(-40deg);
          transform: skew(-40deg);
  background-size: 105%;
}

.btn--read span {
  display: block;
  cursor: pointer;
  -webkit-transform: skew(40deg);
      -ms-transform: skew(40deg);
          transform: skew(40deg);
}

.btn--read span i {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-left: 6px;
  background-image: url(../img/sprite.png);
  background-position: -252px -191px;
  width: 8px;
  height: 12px;
}

.sale {
  width: 100%;
  height: 556px;
  margin-bottom: -92px;
  overflow: hidden;
  background: url(../img/order-bg.png) center top no-repeat;
}

.sale-block {
  float: right;
  margin: 164px 190px 0 0;
}

.sale-text {
  position: relative;
  display: inline-block;
  margin: 67px 35px 0 0;
  vertical-align: middle;
  font-weight: 800;
  font-style: italic;
  color: #204155;
  text-align: center;
  z-index: 3;
}

.sale-text:before {
  content: ' ';
  position: absolute;
  top: -231px;
  left: -350px;
  width: 402px;
  height: 483px;
  background: url(../img/men.png) center top no-repeat;
}

.sale-text__top {
  font-size: 48px;
  line-height: 36px;
  text-transform: uppercase;
}

.sale-text__middle {
  font-size: 30px;
  line-height: 30px;
}

.sale-text__bottom {
  font-size: 18px;
  line-height: 18px;
}

.sale-text__num {
  font-size: 48px;
  line-height: 40px;
}

.sale-text__num span {
  font-size: 24px;
}

.form-block {
  position: relative;
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  z-index: 2;
}

.form-block:before {
  content: ' ';
  position: absolute;
  top: -100%;
  left: -130%;
  width: 989px;
  height: 730px;
  z-index: 0;
  background: url(../img/text-bg.png) center top no-repeat;
}

.form-block__title {
  position: relative;
  margin-bottom: 13px;
  font-size: 26px;
  font-weight: 800;
  font-style: italic;
  line-height: 24px;
  color: #315a72;
  text-align: center;
}

.form-block__in {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}

.form-block__in:before {
  content: ' ';
  position: absolute;
  top: 12px;
  left: 14px;
}

.form-block__in--name:before {
  background-image: url(../img/sprite.png);
  background-position: -108px -140px;
  width: 26px;
  height: 26px;
}

.form-block__in--phone:before {
  background-image: url(../img/sprite.png);
  background-position: -116px -166px;
  width: 26px;
  height: 26px;
}

.form-block__in input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 52px;
  font-size: 24px;
  color: #fff;
  outline: none;
  border: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: rgba(21, 63, 89, 0.4);
}

.btn--form {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 18px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.75);
  border: none;
  cursor: pointer;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.about {
  height: 560px;
  background: url(../img/about-bg.png) center top no-repeat;
}

.about-block {
  float: right;
  width: 460px;
  margin: 107px 104px 0 0;
}

.about-block__title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 800;
  color: #000;
}

.about-block__accent {
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.about-block__text {
  font-size: 16px;
  color: #000;
}

.about-block__text p {
  margin-bottom: 9px;
}

.footer {
  background: #354043;
}

.footer-main {
  padding: 29px 0 33px;
  text-align: center;
}

.footer-bottom {
  padding: 20px 0 10px;
  text-align: center;
  background: #1d2628;
}

.footer-block {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: left;
}

.footer-block__title {
  margin-bottom: 8px;
  padding-left: 14px;
  font-size: 18px;
  font-weight: 800;
  color: #4ca9cc;
  text-transform: uppercase;
}

.footer-block--menu {
  width: 223px;
  max-width: 100%;
  margin-right: 53px;
}

.footer-block--catalog {
  width: 287px;
  max-width: 100%;
  margin-right: 61px;
}

.footer-block--catalog:after, .footer-block--catalog:before {
  content: ' ';
  position: absolute;
  bottom: -52px;
  width: 1px;
  height: 175px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}

.footer-block--catalog:after {
  right: -16px;
}

.footer-block--catalog:before {
  left: -20px;
}

.footer-block--contact {
  margin-top: 8px;
}

.footer-menu li {
  position: relative;
  padding-left: 23px;
}

.footer-menu li:before {
  content: ' ';
  position: absolute;
  top: 9px;
  left: 14px;
  background-image: url(../img/sprite.png);
  background-position: -255px -78px;
  width: 4px;
  height: 7px;
}

.footer-menu li:after {
  content: ' ';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #141819;
  -webkit-box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.12);
          box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.12);
}

.footer-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.footer-menu li a:hover {
  color: #4ca9cc;
}

.footer-catalog {
  margin-top: 13px;
}

.footer-catalog li {
  position: relative;
  padding-left: 29px;
}

.footer-catalog li:before {
  content: ' ';
  position: absolute;
  top: 14px;
  left: 16px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #4ca9cc;
}

.footer-catalog li:after {
  content: ' ';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #141819;
  -webkit-box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.12);
          box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.12);
}

.footer-catalog li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  letter-spacing: -1px;
}

.footer-catalog li a:hover {
  color: #4ca9cc;
}

.phone--footer {
  display: inline-block;
  margin-left: 35px;
}

.phone--footer:before {
  display: block;
  top: 11px;
  left: -36px;
  background-image: url(../img/sprite.png);
  background-position: -166px -166px;
  width: 28px;
  height: 20px;
}

.callback--footer {
  display: block;
  top: 0;
  margin: 4px 0 0 36px;
  font-size: 24px;
  color: #fff;
  line-height: 17px;
}

.callback--footer:before {
  top: 0;
  left: -38px;
  background-image: url(../img/sprite.png);
  background-position: 0px -166px;
  width: 32px;
  height: 34px;
}

.subscribe--footer {
  position: relative;
  width: auto;
  bottom: 0;
  margin-top: 12px;
  padding: 0;
  background: none;
}

.subscribe--footer .subscribe__title {
  display: block;
  width: 100%;
  margin-bottom: 9px;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.8px;
}

.subscribe--footer .subscribe-in {
  width: 299px;
}

.logo--footer {
  float: none;
  display: inline-block;
  width: auto;
  margin: 0 72px 0 0;
  vertical-align: middle;
}

.logo--footer .logo__pict {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 35px;
  vertical-align: top;
}

.logo--footer .logo__title {
  margin: 0 0 0 5px;
  vertical-align: bottom;
  font-size: 24px;
  text-align: left;
}

.logo--footer .logo__accent {
  top: -4px;
  font-size: 12px;
  font-style: italic;
  color: #4ca9cc;
  letter-spacing: 0;
}

.copyright {
  display: inline-block;
  vertical-align: middle;
  font: italic 16px "ptsans";
  color: #809196;
}

.developer {
  display: inline-block;
  margin-left: 51px;
  vertical-align: middle;
}

.developer__title {
  display: block;
  margin: 0 3px -5px 0;
  font-size: 14px;
  color: #78878b;
  font-style: normal;
}

.developer__pict {
  display: block;
}

.developer__pict--mob {
  display: none;
}

/*------------Modal window------------------*/
.form-block--modal {
  position: relative;
  display: block;
  width: 360px;
  margin: 0 auto;
  padding: 30px 0 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

.form-block--modal:before {
  display: none;
}

.form-block--modal .form-block__in {
  margin: 0 auto 10px;
}

.form-block--modal .btn--form {
  margin: 0 auto;
}

.form-block--modal .mfp-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/*---------------end-----------------------*/
/*-------------Form oneclick---------------*/
.modal-form {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 90px;
  text-align: center;
  background: url(../img/form-oneclick-bg.jpg) top center no-repeat;
  background-size: cover;
}

.modal-form--signin {
  background: url(../img/form-signin-bg.jpg) top center no-repeat;
  background-size: cover;
}

.modal-form__title {
  position: relative;
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.modal-form__title--login i {
  display: inline-block;
  position: relative;
  top: 10px;
  left: -12px;
  background-image: url(../img/sprite-2.png);
  background-position: -82px -90px;
  width: 50px;
  height: 48px;
}

.modal-form__title--signin i {
  display: inline-block;
  position: relative;
  top: 10px;
  left: -12px;
  background-image: url(../img/sprite-2.png);
  background-position: -140px -50px;
  width: 40px;
  height: 52px;
}

.modal-form form {
  display: inline-block;
  width: 500px;
}

.modal-form input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  color: #3b8fb9;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #fff;
}

.modal-form input::-webkit-input-placeholder {
  color: #3b8fb9;
}

.modal-form input:-moz-placeholder {
  color: #3b8fb9;
}

.modal-form input::-moz-placeholder {
  color: #3b8fb9;
}

.modal-form input:-ms-input-placeholder {
  color: #3b8fb9;
}

.modal-form .mfp-close {
  top: 20px;
  right: 20px;
  font-size: 0;
  background-image: url(../img/sprite-2.png);
  background-position: -140px -102px;
  width: 41px;
  height: 41px;
}

.modal-form .mfp-close:active {
  top: 20px;
}

.btn--form2 {
  width: 325px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: url(../img/btn-bg3.png) center top no-repeat;
  background-size: cover;
}

/*-----------------end---------------------*/
/*-------Плавное появление magnific popup------------*/
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-------------end-----------------------*/
/*----------------Catalog page-------------*/
.header-main--inner {
  position: relative;
  top: 0;
  padding-bottom: 14px;
  overflow: hidden;
}

.logo-inner {
  margin: 0 146px 0 -110px;
}

.logo-inner .logo__pict {
  float: left;
  top: -10px;
}

.logo-inner .logo__title {
  position: relative;
  top: 13px;
  margin: 0 0 0 179px;
}

.search--inner:after {
  background-image: url(../img/sprite.png);
  background-position: -238px 0px;
  width: 22px;
  height: 26px;
}

.search-in--inner {
  border-color: #fff;
}

.search-in--inner::-webkit-input-placeholder {
  color: #fff;
}

.search-in--inner:-moz-placeholder {
  color: #fff;
}

.search-in--inner::-moz-placeholder {
  color: #fff;
}

.search-in--inner:-ms-input-placeholder {
  color: #fff;
}

.order-present--inner {
  margin-left: 57px;
}

.callback--inner {
  margin-left: 38px;
}

.content {
  padding-bottom: 63px;
  overflow: hidden;
}

.sidebar {
  position: relative;
  float: left;
  width: 290px;
  padding-right: 20px;
}

.sidebar-title {
  margin-bottom: 3px;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 800;
  border-bottom: 1px solid #3f657b;
}

.catalog-nav__item {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.catalog-nav__item.active {
  border-bottom: 1px dotted #e1e1e1;
}

.catalog-nav__link {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 300;
}

.catalog-nav__link.active i:before {
  content: '';
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog-nav__link i {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #3f657b;
}

.catalog-nav__link i:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  top: 6px;
  left: 3px;
  background: #3f657b;
}

.catalog-nav__link i:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 7px;
  top: 3px;
  left: 6px;
  background: #3f657b;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.catalog-dropnav {
  display: none;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}

.catalog-dropnav__item {
  padding: 8px 0 8px 30px;
  border-bottom: 1px dotted #e1e1e1;
}

.catalog-dropnav__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.catalog-dropnav__item a {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  font-size: 16px;
  letter-spacing: -1px;
  color: #919191;
}

.catalog-dropnav__item a.active i:before {
  content: '';
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog-dropnav__item a i {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #c2c2c2;
}

.catalog-dropnav__item a i:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  top: 6px;
  left: 3px;
  background: #c2c2c2;
}

.catalog-dropnav__item a i:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 7px;
  top: 3px;
  left: 6px;
  background: #c2c2c2;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.catalog-subnav {
  display: none;
  margin-top: 10px;
  border-top: 1px dotted #e1e1e1;
}

.catalog-subnav__item {
  padding: 8px 0;
  border-bottom: none;
}

.catalog-subnav__item a {
  font-size: 16px;
  color: #919191;
}

.catalog-subnav__item a:before, .catalog-subnav__item a:after {
  display: none;
}

.main {
  position: relative;
  float: left;
  width: 910px;
  max-width: 100%;
  padding-left: 10px;
  border-left: 1px solid #e1e1e1;
}

.breadcrumb {
  padding: 9px 0 12px;
}

.breadcrumb--bd {
  border-bottom: 1px solid #e1e1e1;
}

.breadcrumb--sd {
  margin: 0 0 16px 300px;
}

.breadcrumb-list li {
  position: relative;
  display: inline-block;
  margin-right: 23px;
  font-size: 14px;
}

.breadcrumb-list li:last-child {
  margin-right: 0;
}

.breadcrumb-list li:not(:last-child):after {
  content: ' ';
  position: absolute;
  top: 5px;
  right: -15px;
  background-image: url(../img/sprite.png);
  background-position: -255px -85px;
  width: 5px;
  height: 10px;
}

.breadcrumb-list li a:hover {
  text-decoration: underline;
}

.nav-mob {
  display: none;
}

.page-title {
  font-size: 36px;
  font-weight: 300;
}

.page-title--catalog {
  margin-bottom: 16px;
  padding-left: 20px;
}

.block-catalog {
  padding: 0 0 0 10px;
  margin: 0 -10px;
}

.block-item--catalog {
  width: 293px;
  height: 350px;
  margin-bottom: 10px;
}

.block-item__pict--catalog {
  height: 220px;
}

.block-item__title--catalog {
  margin-top: 0;
}

.block-item__price--catalog {
  display: block;
}

.block-item__cart--catalog {
  display: none;
}

.btn--cart {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 125px!important;
  height: 40px!important;
    line-height: 36px;
  text-transform: none;
  background: #3e96be!important;
    margin: 0!important;
    box-shadow: none!important;
  cursor: pointer;
}

.btn--oneclick {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 130px!important;
  height: 40px!important;
  padding: 3px 0;
  cursor: pointer;
  line-height: 1!important;
  text-transform: none!important;
  background: #3e96be!important;
    margin: 0!important;
    box-shadow: none!important;
}
.btn--click {
  margin: 10px auto 0;
  letter-spacing: -1px;
  background: url(/img/btn-bg2.png) center top no-repeat;
  background-size: cover;
  cursor: pointer;
}

.btn--click i {
  position: relative;
  display: inline-block;
  top: 10px;
  margin: 0 5px 0 7px;
  background-image: url(/img/sprite.png);
  background-position: -82px -138px;
  width: 38px;
  height: 28px;
}

.pagination {
  margin-top: 22px;
}

.pagination-list {
  display: inline-block;
  margin-right: 34px;
}

.pagination-list li {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 300;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-list li:hover {
  font-weight: 800;
}

.pagination-list li.active {
  font-weight: 800;
  cursor: default;
}

.pagination-nav {
  display: none;
  font-size: 20px;
  font-weight: 300;
}

.pagination-nav--prev {
  margin-right: 35px;
}

.pagination-nav.active {
  display: inline-block;
}

.catalog-descr {
  padding-bottom: 25px;
  font-size: 16px;
  color: #a5bfce;
}

.catalog-descr__title {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
}

.catalog-descr p {
  margin-bottom: 10px;
}

/*--------------------end-----------------------------*/
/*----------------Tovar page-------------*/
.content--tovar {
  padding-bottom: 20px;
}

.tovar {
  margin-bottom: 20px;
}

.tovar__pict {
  position: relative;
  float: left;
  width: 490px;
  height: 495px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.tovar__pict img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tovar-descr {
  display: table;
  padding-left: 25px;
}

.tovar-descr__logo {
  margin-bottom: 27px;
  text-align: center;
}

.tovar-descr__text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
}

.tovar-descr__price {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 800;
  color: #216f9e;
  text-align: center;
}

.tovar-descr__price span {
  font-size: 24px;
}

.btn--tovar {
  margin: 0 auto;
  cursor: pointer;
}

.btn--tovar i {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 12px;
  background-image: url(../img/sprite.png);
  background-position: -20px -200px;
  width: 23px;
  height: 25px;
}

.tab-block {
  margin-bottom: 25px;
}

.tab-head {
  overflow: hidden;
  border-bottom: 1px solid #216f9e;
}

.tab-head__link {
  float: left;
  padding: 10px 43px 11px;
  font-size: 16px;
  color: #216f9e;
  cursor: pointer;
}

.tab-head__link.active {
  color: #fff;
  background: #216f9e;
}

.tab-item {
  display: none;
}

.tab-item.open {
  display: block;
}

.tov-title {
  margin: 18px 0 16px;
  font-size: 16px;
  font-weight: 800;
  color: #216f9e;
}

.tb {
  display: table;
  width: 100%;
}

.tb-cell {
  display: table-cell;
}

.tb-cell--title {
  width: 50%;
  padding-left: 20px;
  font-weight: 800;
}

.tb-cell--descr {
  width: 50%;
  font-weight: 300;
}

.tb-tovar .tb-row:nth-child(odd) {
  background: #f2f6f8;
}

.tb-tovar .tb-cell {
  padding: 5px 0 6px;
  font-size: 16px;
  color: #216f9e;
}

.block-tovar {
  padding-bottom: 0;
}

.block-tovar .block-item {
  width: 289px;
}

/*-------------------end-----------------*/
/*----------------Profile page-------------*/
.personal-in .personal__link--login {
  display: none;
}

.personal-in .personal__link--signin {
  display: none;
}

.personal-in .personal__signin--in {
  display: inline-block;
  margin-left: 0;
  border-bottom: none;
}

.personal-in .personal__signin--in:hover span {
  border-bottom: none;
}

.personal-in .personal__signin--in span {
  display: inline-block;
  border-bottom: 1px dashed #fff;
}

.personal-in.personal-fixed {
  margin-right: 70px;
}

.personal-in.personal-fixed .personal__signin--in {
  top: 0;
  margin: 0 10px 0 0;
}

.personal-in.personal-fixed .personal__signin--in:after {
  right: -15px;
}

.personal-in.personal-fixed .personal__link--cart {
  top: -17px;
}

.page-title--profile {
  margin: 11px 0 33px;
  font-size: 36px;
}

.profile {
  margin-bottom: 23px;
}

.profile-title {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 800;
  color: #554b43;
}

.profile-list__item {
  padding: 9px 0;
  overflow: hidden;
  border-bottom: 1px dotted #bfbfbf;
}

.profile-list__item:first-child {
  border-top: 1px dotted #bfbfbf;
}

.profile-list__title {
  display: inline-block;
  width: 25.5%;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  color: #8a8480;
}

.profile-list__title--delivery {
  width: auto;
  margin-right: 32px;
  font-weight: normal;
  color: #554b43;
}

.profile-list__descr {
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  color: #554b43;
}

.profile-list__descr--delivery {
  font-weight: normal;
}

.edit-link {
  float: right;
  margin-right: 25px;
  font-size: 0;
  background-image: url(../img/sprite.png);
  background-position: -90px -166px;
  width: 26px;
  height: 26px;
}

.delete-link {
  float: right;
  margin-right: 13%;
  font-size: 0;
  background-image: url(../img/sprite.png);
  background-position: -238px -171px;
  width: 16px;
  height: 20px;
}

.add-link {
  position: relative;
  display: inline-block;
  margin: 8px 0 0 98px;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  color: #b6b1ad;
  border-bottom: 2px solid #b6b1ad;
}

.add-link:hover {
  border-bottom: none;
}

.add-link:before {
  content: ' ';
  position: absolute;
  top: -1px;
  left: -26px;
  background-image: url(../img/sprite.png);
  background-position: -238px -78px;
  width: 17px;
  height: 25px;
}

.profile--history {
  margin-top: 55px;
}

.profile--history .profile-title {
  margin-bottom: 17px;
}

.tb-profile {
  border-collapse: collapse;
}

.tb-profile .tb-row {
  border-bottom: 1px dotted #bfbfbf;
}

.tb-profile .tb-row:last-child {
  border-bottom: 2px solid #bfbfbf;
}

.tb-profile .tb-cell {
  padding: 5px 0 6px;
  font-size: 16px;
  color: #000;
}

.tb-profile .tb-cell--head {
  color: #554b43;
}

.tb-profile .tb-cell--count {
  width: 80px;
  padding-left: 20px;
}

.tb-profile .tb-cell--order {
  width: 29.3%;
}

.tb-profile .tb-cell--order a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  text-decoration: underline;
}

.tb-profile .tb-cell--order a:hover {
  text-decoration: none;
}

.tb-profile .tb-cell--price {
  width: 34.4%;
}

.tb-profile .tb-cell--price span {
  display: none;
  font-weight: 800;
}

.tb-profile .tb-cell--status span {
  display: none;
  font-weight: 800;
}

.pagination--profile {
  margin-top: 4px;
}

.pagination-list--profile {
  margin-right: 43px;
}

.pagination-list--profile li {
  margin-right: 10px;
}

.pagination-list--profile li a {
  font-size: 18px;
  color: #5e5b58;
}

.pagination-list--profile li.active a {
  font-size: 24px;
  color: #f07700;
}

.pagination-nav--profile {
  position: relative;
  display: inline-block;
  color: #5e5b58;
}

.pagination-nav--profile.pagination-nav--prev {
  margin-right: 45px;
  padding-left: 30px;
}

.pagination-nav--profile.pagination-nav--prev:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url(../img/sprite.png);
  background-position: -238px -123px;
  width: 15px;
  height: 24px;
}

.pagination-nav--profile.pagination-nav--next {
  padding-right: 30px;
}

.pagination-nav--profile.pagination-nav--next:before {
  content: ' ';
  position: absolute;
  top: 2px;
  right: 0;
  background-image: url(../img/sprite.png);
  background-position: -238px -147px;
  width: 15px;
  height: 24px;
}

/*-------------------end-------------------*/
/*----------------Cart page-------------*/
.content--cart {
  padding-bottom: 51px;
}

.tb-cart {
  border-collapse: collapse;
}

.tb-cart .tb-row {
  height: 98px;
  border-bottom: 1px solid #e8e1db!important;
}

.tb-cart .tb-row--head {
  height: 50px;
  border-bottom: none;
  background: #f9f6f4;
}
.tb-row {
  display: table-row;
}
.tb-cart .tb-cell {
  vertical-align: middle;
  color: #554b43!important;
}
.tb-cart .tb-cell a {
  vertical-align: middle;
  color: #554b43!important;
}

.tb-cart .tb-cell--head {
  font-weight: 800;
}

.tb-cart .tb-cell--pict {
  width: 112px;
  padding-left: 5px;
}

.tb-cart .tb-cell--pict img {
  width: 100px;
  height: 80px;
}

.tb-cart .tb-cell--name {
  font-weight: 800;
}

.tb-cart .tb-cell--name span {
  display: block;
  margin-top: 3px;
  font-weight: normal;
  color: #a3a19f;
}

.tb-cart .tb-cell--price {
  padding-left: 20px;
}

.tb-cart .tb-cell--number {
  padding-left: 40px;
}

.tb-cart .tb-cell--total {
  padding-left: 20px;
}

.tb-cart .tb-cell--delete {
  padding-right: 18px;
}

.tb-cart .jq-number {
  padding-right: 0;
}

.tb-cart .jq-number__field {
  width: 36px;
  height: 30px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.tb-cart .jq-number__field input {
  padding: 4px 0;
  font: 300 18px "ubuntu";
  text-align: center;
}

.tb-cart .jq-number__spin {
  width: 15px;
  height: 15px;
  right: -13px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #9edbdf;
}

.tb-cart .jq-number__spin:hover {
  background: #6edbdf;
}

.tb-cart .jq-number__spin:after {
  width: auto;
  height: auto;
  border: none;
  background: #fff;
}

.tb-cart .jq-number__spin:before {
  content: '';
  position: absolute;
}

.tb-cart .jq-number__spin.minus {
  -webkit-border-radius: 0 0 3px 0;
          border-radius: 0 0 3px 0;
}

.tb-cart .jq-number__spin.minus:after {
  content: '';
  top: 6px;
  left: 3px;
  width: 8px;
  height: 2px;
  border: none;
}

.tb-cart .jq-number__spin.minus:before {
  top: 0;
  left: 2px;
  width: 11px;
  border-bottom: 1px dotted #fff;
}

.tb-cart .jq-number__spin.plus {
  -webkit-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
}

.tb-cart .jq-number__spin.plus:after {
  content: '';
  top: 7px;
  left: 3px;
  width: 8px;
  height: 2px;
  border: none;
}

.tb-cart .jq-number__spin.plus:before {
  top: 4px;
  left: 6px;
  width: 2px;
  height: 8px;
  background: #fff;
}

.cart-total {
  float: right;
  margin: 35px 109px 0 0;
  font-size: 24px;
  font-weight: 800;
  color: #554b43;
}

.cart-total span {
  display: inline-block;
  width: 240px;
  margin-right: 37px;
  font-weight: 300;
  text-align: right;
}

.order__title {
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: 800;
  color: #554b43;
}

.order-form {
  float: left;
}

.order-form__title {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 800;
  color: #7c726a;
}

.order-form form {
  width: 500px;
}

.order-form input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px!important;
  font-weight: 800!important;
  color: #a3a19f!important;
  border: 1px solid #ccc8c3;
}

.order-form input::-webkit-input-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form input:-moz-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form input::-moz-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form input:-ms-input-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form textarea {
  display: block;
  width: 100%;
  height: 130px!important;
  padding: 10px 0 0 20px!important;
  font-size: 18px!important;
  font-weight: 800!important;
  color: #a3a19f!important;
  border: 1px solid #ccc8c3;
}

.order-form textarea::-webkit-input-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form textarea:-moz-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form textarea::-moz-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.order-form textarea:-ms-input-placeholder {
  color: #a3a19f;
  font-weight: 800;
}

.option-order {
  float: right;
  width: 610px;
}

.option-order .jq-radio {
  width: 14px;
  height: 14px;
  margin: 0;
  outline: none;
  border: 1px solid #ccc8c3;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.option-order .jq-radio.focused {
  border: 1px solid #ccc8c3;
}

.option-order .jq-radio.checked .jq-radio__div {
  width: 8px;
  height: 8px;
  margin: 2px 0 0 2px;
  background: #b3b3b3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.delivery-form {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8e1db;
  padding-bottom: 0;
}

.delivery-form__title {
  margin-bottom: 0px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 800;
  color: #7c726a;
  border-bottom: 1px solid #e8e1db;
}

.delivery-form .dv {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.delivery-form .dv-ic {
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  margin-left: 5px;
}

.delivery-form .dv span {
  display: block;
  font-size: 16px;
  color: #554b43;
}

.delivery-form .dv.dv-1 {
  margin: 0 58px 0 0px;
}

.delivery-form .dv.dv-2 {
  margin-right: 63px;
}

.delivery-descr {
  float: right;
  margin-right: 57px;
}

.delivery-descr__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 800;
  color: #554b43;
}

.delivery-descr__text {
  font-size: 16px;
  color: #554b43;
  letter-spacing: -1px;
}

.pay-form {
  padding-bottom: 9px;
}

.pay-form__title {
  margin-bottom: 0px;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: 800;
  color: #7c726a;
  text-align: left;
  border-bottom: 1px solid #e8e1db;
}

.pay-form .jq-radio {
  position: absolute !important;
  top: 25px;
  left: -7px;
}

.pay-form .pay {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.pay-form .pay-ic {
  display: inline-block;
  width: 130px;
  vertical-align: middle;
  text-align: center;
}

.pay-form .pay-ic svg {
  position: relative;
  height: 55px;
}

.pay-form .pay span {
  display: block;
  font-size: 16px;
  color: #554b43;
}

.pay-form .pay.pay-1 {
  margin-left: 12px;
  margin-right: 0px;
}

.pay-form .pay.pay-2 {
  margin-left: 70px;
}

.pay-form .pay.pay-2 .jq-radio {
  left: -28px;
}

.pay-form .pay.pay-2 svg {
  top: 8px;
}

.pay-form .pay.pay-3 {
  margin-left: 65px;
}

.pay-form .pay.pay-3 .jq-radio {
  left: -16px;
}

.pay-form .pay.pay-3 svg {
  top: 8px;
}

.btn--order {
  width: 250px;
  margin: 30px auto 0;
  text-transform: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.modal{
  display: none !important;
}

/*-------------------end-----------------*/
/*----------------News page-------------*/
.content--news {
  padding-bottom: 130px;
}

.news-page {
  margin: 42px -6px 0;
}

.news-page .news-item {
  margin: 0 6px 12px;
}

.pagination--news {
  margin-top: 7px;
}

/*-------------------end-----------------*/
/*----------------News-one page-------------*/
.news-article {
  padding-bottom: 44px;
  font-size: 18px;
  font-weight: 300;
  color: #585e61;
  letter-spacing: -1px;
}

.news-article img {
  float: left;
  width: 47.9%;
  margin: 0 50px 25px 0;
}

.news-article p {
  margin-bottom: 23px;
}
.news-article2 {
  padding-bottom: 44px;
  font-size: 18px;
  font-weight: 300;
  color: #585e61;
  letter-spacing: -1px;
}

.news-article2 img {
  float: left;
  margin: 0 50px 25px 0;
}

.news-article2 p {
  margin-bottom: 23px;
}

/*-------------------end-----------------*/
/*----------------Search page-------------*/
.search-page {
  padding-bottom: 80px;
}

.search-block {
  position: relative;
  margin: 22px 0 40px;
}

.search-block__in {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #1d2628;
  outline: none;
  border: 1px solid #9fadb0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.search-block__in::-webkit-input-placeholder {
  color: #1d2628;
}

.search-block__in:-moz-placeholder {
  color: #1d2628;
}

.search-block__in::-moz-placeholder {
  color: #1d2628;
}

.search-block__in:-ms-input-placeholder {
  color: #1d2628;
}

.search-block__btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  background-image: url(/img/sprites/search-gray.png);
  width: 32px;
  height: 40px;
}

.tb-search .tb-row {
  border-top: 1px solid #e8e1db;
}

.tb-search .tb-cell--name {
  width: 39.5%;
}

.tb-search .tb-cell--price {
  width: 39.7%;
  font-size: 24px;
  font-weight: 300;
}

.search-update {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  font-size: 0;
  background-image: url(/img/sprites/update.png);
  width: 38px;
  height: 22px;
}

.search-cart {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-image: url(/img/sprites/cart-search.png);
  width: 29px;
  height: 30px;
  cursor: pointer;
}

/*-------------------end-----------------*/
/*----------------Tool page-------------*/
/*-------------------end-----------------*/
.table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff !important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
  height: 50px;
  text-align: center;
}
.table_style{
  border: 1px solid red;
  width: 100%;
}