/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -218px -166px;
  width: 15px;
  height: 8px;
}
.icon-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: -248px -211px;
  width: 10px;
  height: 15px;
}
.icon-arrow-next {
  background-image: url(../img/sprite.png);
  background-position: -166px -40px;
  width: 25px;
  height: 84px;
}
.icon-arrow-prev {
  background-image: url(../img/sprite.png);
  background-position: -140px -40px;
  width: 26px;
  height: 85px;
}
.icon-arrow-right {
  background-image: url(../img/sprite.png);
  background-position: -238px -211px;
  width: 10px;
  height: 15px;
}
.icon-bread-arrow {
  background-image: url(../img/sprite.png);
  background-position: -255px -85px;
  width: 4px;
  height: 7px;
}
.icon-btn-arrow-mob {
  background-image: url(../img/sprite.png);
  background-position: -238px -191px;
  width: 14px;
  height: 20px;
}
.icon-btn-arrow {
  background-image: url(../img/sprite.png);
  background-position: -252px -191px;
  width: 8px;
  height: 12px;
}
.icon-callback {
  background-image: url(../img/sprite.png);
  background-position: -58px -102px;
  width: 24px;
  height: 26px;
}
.icon-cart-3 {
  background-image: url(../img/sprite.png);
  background-position: -238px -103px;
  width: 19px;
  height: 20px;
}
.icon-cart-4 {
  background-image: url(../img/sprite.png);
  background-position: -82px -90px;
  width: 46px;
  height: 50px;
}
.icon-cart-btn-2 {
  background-image: url(../img/sprite.png);
  background-position: -196px -120px;
  width: 37px;
  height: 40px;
}
.icon-cart-btn {
  background-image: url(../img/sprite.png);
  background-position: -20px -200px;
  width: 23px;
  height: 25px;
}
.icon-cart-gray {
  background-image: url(../img/sprite.png);
  background-position: -82px -140px;
  width: 26px;
  height: 26px;
}
.icon-cart-mob {
  background-image: url(../img/sprite.png);
  background-position: -196px -80px;
  width: 40px;
  height: 40px;
}
.icon-cart-white {
  background-image: url(../img/sprite.png);
  background-position: -32px -166px;
  width: 30px;
  height: 30px;
}
.icon-catalog-left {
  background-image: url(../img/sprite.png);
  background-position: -82px 0px;
  width: 58px;
  height: 90px;
}
.icon-catalog-right {
  background-image: url(../img/sprite.png);
  background-position: 0px -76px;
  width: 58px;
  height: 90px;
}
.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -128px -100px;
  width: 9px;
  height: 9px;
}
.icon-delete {
  background-image: url(../img/sprite.png);
  background-position: -238px -171px;
  width: 16px;
  height: 20px;
}
.icon-edit {
  background-image: url(../img/sprite.png);
  background-position: -90px -166px;
  width: 26px;
  height: 26px;
}
.icon-footer-callback {
  background-image: url(../img/sprite.png);
  background-position: 0px -166px;
  width: 32px;
  height: 34px;
}
.icon-footer-phone-mob {
  background-image: url(../img/sprite.png);
  background-position: -140px 0px;
  width: 56px;
  height: 40px;
}
.icon-footer-phone {
  background-image: url(../img/sprite.png);
  background-position: -166px -166px;
  width: 28px;
  height: 20px;
}
.icon-login-mob {
  background-image: url(../img/sprite.png);
  background-position: -196px 0px;
  width: 42px;
  height: 40px;
}
.icon-login {
  background-image: url(../img/sprite.png);
  background-position: -142px -166px;
  width: 24px;
  height: 24px;
}
.icon-map {
  background-image: url(../img/sprite.png);
  background-position: -238px -78px;
  width: 17px;
  height: 25px;
}
.icon-menu-arrow {
  background-image: url(../img/sprite.png);
  background-position: -255px -78px;
  width: 4px;
  height: 7px;
}
.icon-name {
  background-image: url(../img/sprite.png);
  background-position: -108px -140px;
  width: 26px;
  height: 26px;
}
.icon-order {
  background-image: url(../img/sprite.png);
  background-position: -128px -90px;
  width: 10px;
  height: 10px;
}
.icon-pag-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: -238px -123px;
  width: 15px;
  height: 24px;
}
.icon-pag-arrow-right {
  background-image: url(../img/sprite.png);
  background-position: -238px -147px;
  width: 15px;
  height: 24px;
}
.icon-pag-next {
  background-image: url(../img/sprite.png);
  background-position: 0px -200px;
  width: 20px;
  height: 31px;
}
.icon-pag-prev {
  background-image: url(../img/sprite.png);
  background-position: -58px -128px;
  width: 20px;
  height: 31px;
}
.icon-phone-2 {
  background-image: url(../img/sprite.png);
  background-position: -116px -166px;
  width: 26px;
  height: 26px;
}
.icon-phone-mob {
  background-image: url(../img/sprite.png);
  background-position: -196px -40px;
  width: 40px;
  height: 40px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -58px -76px;
  width: 24px;
  height: 26px;
}
.icon-present {
  background-image: url(../img/sprite.png);
  background-position: -62px -166px;
  width: 28px;
  height: 28px;
}
.icon-search-inner {
  background-image: url(../img/sprite.png);
  background-position: -238px 0px;
  width: 22px;
  height: 26px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -238px -26px;
  width: 22px;
  height: 26px;
}
.icon-sign {
  background-image: url(../img/sprite.png);
  background-position: -238px -52px;
  width: 20px;
  height: 26px;
}
.icon-subscribe-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 82px;
  height: 76px;
}
.icon-subscribe-mob {
  background-image: url(../img/sprite.png);
  background-position: -140px -125px;
  width: 48px;
  height: 40px;
}
.icon-subscribe {
  background-image: url(../img/sprite.png);
  background-position: -194px -166px;
  width: 24px;
  height: 20px;
}
